/* ============================= */
/*           VARIABLES           */
:root {
    --moradoClaro: #f2caf3;
    --moradoOscuro: #c156ff;
    --colorDeTexto: #ffffff;
}

/* ============================= */

/* ============================= */
/*       ESTILOS GENERALES       */
/* ============================= */
body {
    background-color: var(--moradoClaro);
    color: var(--colorDeTexto);
    font-family: "HelveticaNeue", "Helvetica Neue", helvetica, Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: normal;
    line-height: 1.4em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

nav {
    height: 80px;
}

nav img {
    width: 106px;
}

h1,
.h1 {
    color: var(--moradoOscuro);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: 200;
    line-height: 1.02778em;
    text-transform: none;
    text-align: center;
}

h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    width: 100%;
    font-size: 21px;
}



select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-radius: 3px;
    color: var(--colorDeTexto);
    display: inline-block;
    font-size: 15px;


    margin-bottom: 9px;
    padding: 4px 6px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    color:black;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}



input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    background-color: var(--moradoOscuro);
    color: var(--colorDeTexto);
    cursor: default;
}

.input {
    height: 40px;
    width: 150px;
    font-size: 20px;
}

.input2 {
    height: 40px;
    width: 60px;
    font-size: 20px;
}

strong {
    color: var(--moradoOscuro);
}




/* ============================= */
/*             MAIN             */
/* ============================= */


/* ============================= */
/*            FOOTER             */
/* ============================= */

#footer {
    height: 80px;
    width: 100%;
}